*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Arial', sans-serif;
  color: white;
  background: linear-gradient(to bottom left, #FF0000, #0000FF 50%, #00FF00);
  background: linear-gradient(to bottom left, #FF0000 1%, #0000FF 50%, #00FF00 99%);
  width: 1024px;
  height: 600px;
  display: flex;
  flex-direction: row;
}


